# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Flask session files
flask_session/

# Distribution / packaging
.eggs/
dist/
build/
*.egg-info/
*.egg
MANIFEST

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3
